:root {
    --spaceCadet: #151E3F;
    --oxfordBlue: #030027;
    --beige: #F2F3D9;
    --buff: #DC9E82;
    --oldRose: #C16E70;
}

img {
    margin: 0 auto;
    display: block;
}

.collapsible {
    background-color: var(--buff);
    color: var(--beige);
    cursor: pointer;
    margin: 10px auto 0 auto;
    padding: 18px;
    width: 80%;
    border: none;
    text-align: center;
    outline: none;
    display: block;
    transition: all 1s;
    border-bottom: 10px solid var(--oldRose);
}

.active, .collapsible:hover {
    background-color: #dc9482;
}

.content {
    width: calc(80% - 18px * 2);
    height: 0px;
    padding: 0 18px;
    margin: 0 auto;
    display: block;
    overflow: hidden;
    background-color: #c16e6e;
    transition: all 1s;
}