h3 {
    text-align: center;
}

#mapInfo {
    width: 330px; 
    float: right; 
    transform: translateY(44.92px);
}

#geography {
    float: left;
    transform: translateY(150px);
}

#main {
    height: 875px;
}